<div class="menu">
    <div class="menuLink">
        <a href="{% url 'index' %}" class="hide">Главная</a>
        <a href="{% url 'index' %}" class="hide">Новости</a>
        <a href="{% url 'index' %}" class="hide">Игры</a>
        <a href="{% url 'index' %}" class="hide">Форумы</a>
    </div>
</div>