{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">-->
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}">-->
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css' %}">-->
	<title>DOTA2</title>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/js.js' %}"></script>
	<!--<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>-->
	<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>